*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

:root {
    --bg-shadow: rgba(0, 0, 0, 0.3);
    --green: rgba(106, 191, 75, 0.7);
    --blue: rgba(56, 119, 238, 0.7);
}

.map {
    position: relative;
    background-image: url("./../img/map.jpg");
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
}

.map::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-shadow)
}

.map__point {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-left: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.map__point.active {
    padding: 10px 15px;
    width: 135px;
    border-radius: 40px;
}

.map__point-icon {
    font-size: 20px;
}

.map__point-name {
    opacity: 0;
    width: 0;
    margin-left: 15px;
    transition: width 0.5s ease;
}

.map__point.active .map__point-name {
    width: auto;
    opacity: 1;
}

.map__point:nth-child(even) {
    background-color: var(--green);
}

.map__point:nth-child(odd) {
    background-color: var(--blue);
}

.map__point-1 {
    top: 25%;
    left: 25%;
}

.map__point-2 {
    top: 45%;
    left: 35%;
}

.map__point-3 {
    top: 70%;
    left: 20%;
}

.map__point-4 {
    top: 38%;
    left: 58%;
}

.map__point-5 {
    top: 20%;
    left: 72%;
}

.map__point-6 {
    top: 60%;
    left: 70%;
}

.map__point-7 {
    top: 44%;
    left: 75%;
}

.map__point-8 {
    top: 74%;
    left: 56%;
}

.map__point-9 {
    top: 66%;
    left: 85%;
}

.map__point-10 {
    top: 56%;
    left: 55%;
}